<header class="header">
  <div class="container">
    <div class="logo-container">
      <a class="logo" href="./header.html">
        <svg class="icon-first" width="16" height="16">
          <use href="../img/icons.svg#icon-logo"></use></svg
        ><svg class="icon" width="146" height="12">
          <use href="../img/icons.svg#icon-logo-mobile"></use></svg
      ></a>
    </div>

    <div class="btn-menu-container">
      <button class="btn-menu" type="button" onclick="location.href='#menu-on'">
        <svg class="menu-icon" width="32" height="32">
          <use href="../img/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
<div class="tablet-menu-wrap">
  <div id="menu-on" class="mobile-container">
    <button class="btn-close" type="button">
      <svg class="icon-menu-close" width="32" height="32" viewBox="0 0 32 32">
        <use href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="nav-container">
      <ul class="nav-list">
        <li><a class="nav-link first" href="#How It Works">How It Works</a></li>
        <li><a class="nav-link second" href="#Vegetables">Vegetables</a></li>
        <li><a class="nav-link third" href="#Reviews">Reviews</a></li>
      </ul>
    </nav>
    <div class="btn-shop-container">
      <button class="btn-shop" type="button">Shop now</button>
    </div>
  </div>
</div>
