
<section class="section order">
  
  <div class="container">
    
    <h2 class="order-title">
      Fresh <span class="order-title-span">Harvest</span> Box has got you covered
    </h2>
  
    <p class="order-text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!
    </p>
  
    <div class="part-2">
      <div class="order-form-area">
    
        <p class="order-form-text">
          Ordering <span class="order-form-from-us">from us</span> is quick and easy! Fill out <span class="order-form-the-form">the form</span> below and we will contact you !
        </p>
    
        <form class="order-form">  
                  
            <label class="order-form-element" for="user-name">    
              <input 
                class="order-form-input" 
                type="text"
                name="user-name"
                id="user-name"
                placeholder="Full Name"
                  required
              />
            </label>
    
            <label class="order-form-element" for="user-email">    
              <input 
                class="order-form-input" 
                type="email"
                name="user-email"
                id="user-email"
                placeholder="Email"
                required
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              />
              <p class="text-valid">Succes!</p>
              <p class="text-invalid">Invalid email, try again</p>
            </label>
    
            <label class="order-form-element-comment" for="user-comment">    
              <textarea 
                class="order-form-comment" 
                name="user-comment"
                placeholder="Comment"
              ></textarea>    
            </label>
    
            <button class="form-button" type="submit">Send</button>
                  
        </form>
      </div>
    
      <div class="socials">
        <picture>
          <source media="(min-width: 1280)" srcset="../img/Order-mob-1x.jpg 1x, ../img/Order-mob-2x.jpg 2x" />
          <img class="socials-picture" src="../img/Order-mob-1x.jpg" alt="Making Smoothie" width="528">
        </picture>
    
        <p class="socials-text">Follow us on our social networks:</p>
    
        <ul class="socials-links">
          <li class="social-link-li">
            <a class="socials-link" target="_blank"
            href="https://www.instagram.com/goitclub/">
              instagram          
            </a>
          </li>
          <li class="social-link-li">
            <a class="socials-link" target="_blank"
            href="https://www.facebook.com/goITclub/">
              facebook
            </a>
          </li>
          <li class="social-link-li">
            <a class="socials-link" target="_blank"
            href="https://www.youtube.com/c/GoIT">
              youtube
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
=======
<section class="section container order">
  <h2 class="order-title">
    Fresh <span class="order-title-span">Harvest</span> Box has got you covered
  </h2>

  <p class="order-text">
    Our boxes are packed with delicious, nutritious vegetables, perfect for
    anyone looking to eat healthier or support local farmers. Order your box
    today and start enjoying the best that nature has to offer!
  </p>

  <div class="part-2">
    <div class="order-form-area">
      <p class="order-form-text">
        Ordering <span class="order-form-from-us">from us</span> is quick and
        easy! Fill out <span class="order-form-the-form">the form</span> below
        and we will contact you !
      </p>

      <form class="order-form">
        <label class="order-form-element" for="user-name">
          <input
            class="order-form-input"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Full Name"
            required
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            ;
          />
        </label>

        <label class="order-form-element" for="user-email">
          <input
            class="order-form-input"
            type="email"
            name="user-email"
            id="user-email"
            placeholder="Email"
            required
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            ;
          />
        </label>

        <label class="order-form-element-comment" for="user-comment">
          <textarea
            class="order-form-comment"
            name="user-comment"
            id="user-comment"
            placeholder="Comment"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            ;
          ></textarea>
        </label>

        <button class="form-button" type="submit">Send</button>
      </form>
    </div>

    <div class="socials">
      <picture>
        <source
          media="(min-width: 1280)"
          srcset="../img/Order-mob-1x.jpg 1x, ../img/Order-mob-2x.jpg 2x"
        />
        <img
          class="socials-picture"
          src="../img/Order-mob-1x.jpg"
          alt="Making Smoothie"
          width="528"
        />
      </picture>

      <p class="socials-text">Follow us on our social networks:</p>

      <p class="socials-links">
        <a
          class="socials-link"
          target="_blank"
          href="https://www.instagram.com/goitclub/"
        >
          instagram
        </a>
        /
        <a
          class="socials-link"
          target="_blank"
          href="https://www.facebook.com/goITclub/"
        >
          facebook
        </a>
        /
        <a
          class="socials-link"
          target="_blank"
          href="https://www.youtube.com/c/GoIT"
        >
          youtube
        </a>
      </p>
    </div>
  </div>
</section>

